
  <div class="row">
    <div class="col-sm-5 col-sm-offset-7">
      <h1>Austin, TX</h1>
      <h2>10-day forecast</h2>
      <div class="forecast" ng-repeat="day in tenDay.forecastday">
        <div class="day row">

          <!-- datetime -->
          <div class="weekday col-xs-5">
            {{ day.date.weekday + " " + day.date.monthname + " " + day.date.day }}
          </div>


          <!-- icon -->
          <div class="weather col-xs-2">
            <img ng-src={{day.icon_url}}>
          </div>

          <div class="col-xs-1"></div>


          <!-- high -->
          <div class="high col-xs-2">
            {{ day.high.fahrenheit }}&deg;
          </div>


          <!-- low -->
          <div class="low col-xs-2">
            {{ day.low.fahrenheit }}&deg;
          </div>
        </div>
      </div>
    </div>
  </div>
  </ul>

